.m-donations {
    display: flex;
    flex-direction: column;
    position: relative;

    p {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0;
    }

    &__tabs-container {
        display: flex;
        flex-grow : 1;
        position: relative;
        top: 1px;
    }

    &__tab {
        padding: 15px 40px;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
        font-weight: bold;
        text-align: center;
        background-color: #003473;
        color: #fff; 
        cursor: pointer;
        box-sizing: content-box;
        position: relative;
        outline: none;
        margin-right: 5px;
        border: none;

        &--active {
            background-color: #fff;
            color: #003473;
            border-top: 1px solid #B2B8C5;
            border-left: 1px solid #B2B8C5;
            border-right: 1px solid #B2B8C5;
            border-bottom: 1px solid transparent;
        }

        &:not(:last-child) {
            border-right: 1px solid #B2B8C5;
        }
    }

    &__inner {
        border-top: 1px solid #B2B8C5;
        border-left: 1px solid #B2B8C5;
        border-right: 1px solid #B2B8C5;
        padding: 20px 40px;
    }

    &__content {
        background: white;
        width: 100%;
        display: none;

        &--active {
            display: block;
        }
    }

    &__form-group {
        margin: 10px 0;
    }

    &__footer {
        background-color: #eaedf4;
        padding: 35px 40px;
        border-bottom: 1px solid #B2B8C5;
        border-left: 1px solid #B2B8C5;
        border-right: 1px solid #B2B8C5;

        &-link {
            color: #1F2526;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0;

            &:hover {
                text-decoration: none;
            }
        }

        &-text {
            font-size: 12px;
            line-height: 18px;
            color: #4C4E53;
            letter-spacing: 0;
        }
    }
}