.m-donations {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 800px;   // Temporary
    margin: 100px auto 0;   // Temporary - centres the panel on screen

    &__tabs-container {
        display: flex;
        flex-grow : 1;
        position: relative;
        top: 1px;
    }

    &__tab {
        padding: 15px;
        text-align: center;
        background-color: #003473;
        color: #fff; 
        cursor: pointer;
        box-sizing: content-box;
        position: relative;
        outline: none;
        margin-right: 5px;
        border: none;

        &--active {
            background-color: #fff;
            color: #003473;
            border-top: 1px solid #B2B8C5;
            border-left: 1px solid #B2B8C5;
            border-right: 1px solid #B2B8C5;
            border-bottom: 1px solid transparent;
        }

        &:not(:last-child) {
            border-right: 1px solid #B2B8C5;
        }
    }

    &__inner {
        border-top: 1px solid #B2B8C5;
        border-left: 1px solid #B2B8C5;
        border-right: 1px solid #B2B8C5;
        padding: 20px 15px;
    }

    &__content {
        background: white;
        width: 100%;
        display: none;

        &--active {
            display: block;
        }
    }

    &__form-group {
        margin: 10px 0;
    }

    &__footer {
        background-color: #eaedf4;
        padding: 30px 15px;
        border-bottom: 1px solid #B2B8C5;
        border-left: 1px solid #B2B8C5;
        border-right: 1px solid #B2B8C5;
    }
}