.a-input {
	padding: 16px 5px;
	margin: 0 5px;
	font-size: 15px;
	position: relative;
	top: -1px;
}

@media (max-width: 1024px) {
  	.a-input {
  		margin-top: 15px;
  		margin-left: 0;
  		margin-right: 0;
    	width: 100%;
  	}
}