.a-btn {
	background-color: #EAEDF4;
	border: 1px solid #80848D;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	padding: 15px 40px;
	color: #1F2526;
	line-height: 22px;
	font-size: 20px;

	&:hover {
		background-color: darken(#EAEDF4, 20%);
	}

	&--shadow {
		box-shadow: 0 4px rgba(0,0,0,0.19);
	}

	&--active {
		background-color: #189CA1;
		border: 1px solid #189CA1;
		color: #fff;

		&:hover {
			background-color: #189CA1;
		}
	}

	&--secondary {
		background-color: #F69220;
		border: 1px solid #F69220;

		&:hover {
			background-color: lighten(#F69220, 20%);
		}
	}
}

@media (max-width: 1024px) {
	.a-btn {
		&--secondary {
			margin-top: 15px;
			width: 100%;
		}
	}
}