.a-btn {
	background-color: #EAEDF4;
	border: 1px solid #80848D;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	padding: 15px 40px;
	color: #1F2526;
	line-height: 22px;
	font-size: 20px;

	&--active {
		background-color: #189CA1;
		border: 1px solid #189CA1;
		color: #fff;
	}

	&--secondary {
		background-color: #F69220;
		border: 1px solid #F69220;
	}
}

@media (max-width: 1024px) {
	.a-btn {
		&--secondary {
			margin-top: 15px;
			width: 100%;
		}
	}
}